.menuItem {
    /* border: 1px solid green; */
}

.menuItem a {
    /* border: 1px solid red; */
    display: flex;
    font: var(--button);
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    block-size: 2.5rem;
    align-items: center;
    gap: 0.5rem;
}

.menuItem a:hover {
    text-decoration: none;
}

.menuItem [class^="icon-"] {
    /* border: 1px solid red; */
    font-size: 1.5rem;
}

/* una vez haga hover y este activo, se vera la sombra verde */
.menuItem.is-active a {
    color: var(--white);
    box-shadow: inset 4px 0 0 var(--primary); /* La mejor tecnica para hacer ese tipo de bordes es con sombras, las sombras no aumentan el tamaño de caja  */
    /* eje x, eje y, lo que se puede expandir   */

}

.menuItem.is-active .icon-home::before {
    content: "\e90a";
}

.menuItem.is-active .icon-search::before {
    content: "\e914";
}

/* .menuItem.is-active .icon-creditCard::before {
    content: "\e906";
} */